/* custom.css */
@media (min-width: 1024px){
	.post-date {
		background-color: #FFC0CB !important;
	    padding: 2px 7px;
	    border-radius: 10px;
	    color: #ffffff !important; 
	    width: max-content;
	    font-size: 10px !important;
	    margin-top: 5%;
	}
	
	.icon-time::before {
		content: "\e689";
	    color: #ffffff !important;
	    font-size: 10px;
	}
	
	.post-meta {
		color: #ffffff !important;
	    font-size: 10px;
	    text-align: center;
	}
	
	.post-meta span {
	    padding: 3px 6px 3px 6px;
	    border-radius: 7px;
	}
	
	.post-meta span:nth-child(1) {
	    background-color: #D8BFD8;
	}
	
	.post-meta span:nth-child(2) {
	    background-color: #DDA0DD;
	}
	
	.post-meta span:nth-child(3) {
	    background-color: #EE82EE;
	}
	
	.icon-attention::before {
	    content: "\e693";
	    font-size: 10px;
	    color: #ffffff !important;
	}
	
	.icon-mark::before {
	    content: "\e6ab";
	    font-size: 10px;
	    color: #ffffff !important;
	}
	
	.icon-file::before {
	    content: "\e6ad";
	    font-size: 10px;
	    color: #ffffff !important;
	}
	
	.post-meta span a {
	    color: #ffffff !important;
	}
	
	.icon-caidan::before {
		color: #FFC0CB !important;
	}
	
	.float-content {
		font-size: 14px;
	    margin-top: 20px;
	    text-align: center;
	}
	
	.post-list-thumb .post-title h3 {
	    text-align: center;
	}
	
	.float-content p {
	    margin-top: 25px;
	}
	
	.post-content {
	    display: flex;
	    flex-direction: column;
	    justify-content: center;
	}
	
	.post-list-thumb::after {
	    content: "\00a0";
	    width: 4px;
	    height: 0px;
	    position: absolute;
	    left: 0px;
	    top: 0px;
		background-color: #FFC0CB;
	    box-shadow: #FFC0CB 0px 0px 6px;
	    border-radius: 10px;
	    transition: all 0.8s ease 0s;
	}
	
	.post-list-thumb-left::after {
	    right: 0;
	    left: auto;
	}
	
	.post-list-thumb:hover:after {
	    height: 100%;
	}
	
	.post-thumb a img {
		width: 400px !important;
	    height: 250px !important;
	    box-shadow: 1px 1px 30px 2px rgba(216,191,216,.3);
	    border-radius: 20px;
	    border: 1px solid #eee;
	    transition: all 1s !important;
	}
	
	.post-list-thumb:hover {
	    box-shadow: 0 1px 12px -6px rgba(0,0,0,.5);
	}
	
	.post-list-thumb:hover img {
	    transform: scale(1.05);
	}
	
	.post-thumb a {
	    overflow: inherit !important;
	    top: 25px;
	}
	
	.post-thumb {
	    /* float: right; */
	    width: 45%;
	    transform: translateX(70px);
	}
	
	.post-list-thumb-left .post-thumb {
	    float: left;
	    transform: translateX(-40px);
	}
	
	.post-content-wrap {
		transform: translateX(30px) translateY(16px);
		padding-right: 0px !important;
	}
	
	.post-list-thumb-left .post-content-wrap {
		transform: translateX(-25px) translateY(16px);
		padding-left: 0px !important;
	}
}

/*<span class="toppic-line"></span>*/

/*标题横线动画*/
/*.single-center header.single-header .toppic-line{position:relative;bottom:0;left:0;display:block;width:100%;height:2px;background-color:#fff;animation:lineWidth 2.5s;animation-fill-mode:forwards;}*/
/*@keyframes lineWidth{0%{width:0;}*/
/*100%{width:100%;}*/
/*}*/

/*标题动画*/
.entry-title {
	-moz-animation: fadeInUp 2s;
    -webkit-animation:fadeInUp 2s;
	animation: fadeInUp 2s;
}
@-moz-keyframes fadeInUp {
	0% {
		-moz-transform: translateY(200%);
		transform: translateY(200%);
		opacity: 0
	}
 
	50% {
		-moz-transform: translateY(200%);
		transform: translateY(200%);
		opacity: 0
	}
 
	100% {
		-moz-transform: translateY(0%);
		transform: translateY(0%);
		opacity: 1
	}
}
 
@-webkit-keyframes fadeInUp {
	0% {
		-webkit-transform: translateY(200%);
		transform: translateY(200%);
		opacity: 0
	}
 
	50% {
		-webkit-transform: translateY(200%);
		transform: translateY(200%);
		opacity: 0
	}
 
	100% {
		-webkit-transform: translateY(0%);
		transform: translateY(0%);
		opacity: 1
	}
}
 
@keyframes fadeInUp {
	0% {
		-moz-transform: translateY(200%);
		-ms-transform: translateY(200%);
		-webkit-transform: translateY(200%);
		transform: translateY(200%);
		opacity: 0
	}
 
	50% {
		-moz-transform: translateY(200%);
		-ms-transform: translateY(200%);
		-webkit-transform: translateY(200%);
		transform: translateY(200%);
		opacity: 0
	}
 
	100% {
		-moz-transform: translateY(0%);
		-ms-transform: translateY(0%);
		-webkit-transform: translateY(0%);
		transform: translateY(0%);
		opacity: 1
	}
}


/* dynamic.css */
body.theme-dark .cbp_tmtimeline::before {
	background:RGBA(255,255,255,0.06)
}

ul.cbp_tmtimeline {
	padding:0
}

div class.cdp_tmlabel > li .cbp_tmlabel {
	margin-bottom:0
}

.cbp_tmtimeline {
	margin:30px 0 0 0;
	padding:0;
	list-style:none;
	position:relative
}

/* The line */
.cbp_tmtimeline:before {
	content:'';
	position:absolute;
	top:0;
	bottom:0;
	width:4px;
	background:RGBA(0,0,0,0.02);
	left:80px;
	margin-left:10px
}

/* The date/time */
.cbp_tmtimeline > li .cbp_tmtime {
	display:block;
	/* width:29%;*/
    /* padding-right:110px;*/
    max-width:70px;
	position:absolute
}

.cbp_tmtimeline > li .cbp_tmtime span {
	display:block;
	text-align:right
}

.cbp_tmtimeline > li .cbp_tmtime span:first-child {
	font-size:0.9em;
	color:#bdd0db
}

.cbp_tmtimeline > li .cbp_tmtime span:last-child {
	font-size:1.2em;
	color:#9BCD9B
}

.cbp_tmtimeline > li:nth-child(odd) .cbp_tmtime span:last-child {
	color:RGBA(255,125,73,0.75)
}

div.cbp_tmlabel > p {
	margin-bottom:0
}

/* Right content */
.cbp_tmtimeline > li .cbp_tmlabel {
	margin:0 0 45px 65px;
	background:#FFC0CB;
	color:#fff;
	padding:.8em 2em .4em 2em;
	/* font-size:1.2em;*/
    font-weight:300;
	line-height:1.4;
	position:relative;
	border-radius:5px;
	transition:all 0.3s ease 0s;
	box-shadow:0 1px 2px rgba(0,0,0,0.15);
	cursor:pointer;
	display:block
}

.cbp_tmlabel:hover {
	/* transform:scale(1.05);*/
    transform:translateY(-3px);
	z-index:1;
	-webkit-box-shadow:0 15px 32px rgba(0,0,0,0.15) !important
}

.cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel {
	background:#DDA0DD
}

.cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel:after {
	border-right-color:#DDA0DD
}

/* The triangle */
.cbp_tmtimeline > li .cbp_tmlabel:after {
	right:100%;
	border:solid transparent;
	/*content:"\00a0";*/
	height:0;
	width:0;
	position:absolute;
	pointer-events:none;
	border-right-color:#FFC0CB;
	border-width:10px;
	top:4px
}

p.shuoshuo_time {
	margin-top:10px;
	border-top:1px dashed #fff;
	padding-top:10px;
	font-size: 13px;
}

/* Media */
@media screen and (max-width:65.375em) {
	.cbp_tmtimeline > li .cbp_tmtime span:last-child {
	font-size:1.2em
	}
}

.shuoshuo_author_img img {
	border:1px solid #ddd;
	padding:2px;
	float:left;
	border-radius:64px;
	transition:all 1.0s;
	height:50px
}

.avatar {
	-webkit-border-radius:100% !important;
	-moz-border-radius:100% !important;
	box-shadow:inset 0 -1px 0 #3333sf;
	-webkit-box-shadow:inset 0 -1px 0 #3333sf;
	-webkit-transition:0.4s;
	-webkit-transition:-webkit-transform 0.4s ease-out;
	transition:transform 0.4s ease-out;
	-moz-transition:-moz-transform 0.4s ease-out
}

.zhuan {
	transform: rotateZ(720deg);
	-webkit-transform: rotateZ(720deg);
	-moz-transform: rotateZ(720deg)
}

#pagination_dynamic {
    width: 100%;
    padding: 20px 0;
    text-align: center;
    margin: 40px 0 80px;
    display: inline-block
}

#pagination_dynamic a:hover {
    -webkit-box-shadow: 0 0 4px rgba(255, 192, 203, .85);
    -moz-box-shadow: 0 0 4px rgba(255, 192, 203, .85);
    -o-box-shadow: 0 0 4px rgba(255, 192, 203, .85);
    box-shadow: 0 0 4px rgba(255, 192, 203, .85)
}

#pagination_dynamic a {
    padding: 13px 35px;
    border: 1px solid #D6D6D6;
    border-radius: 50px;
    color: #ADADAD
}

#pagination_dynamic span {
    color: #989898;
    font-size: 15px
}

#pagination_dynamic a:hover {
    border: 1px solid #FFC0CB;
    color: #FFC0CB
}

#pagination_dynamic .loading {
    background: url(https://cdn.jsdelivr.net/gh/fz6m/Private-web@1.5/image/loading/loading-circle.svg);
    background-position: center;
    background-repeat: no-repeat;
    color: #555;
    border: none;
    background-size: auto 100%
}

#pagination_dynamic .loading:hover {
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none
}

#pagination_dynamic.pagination_dynamic-archive {
    margin: 80px 0
}


/* font-zhanku */

@font-face {
    font-family: "zhanku";
    src: url("https://cdn.jsdelivr.net/gh/fz6m/Private-web@1.0/font/zhanku/zhanku.eot"); /* IE9 */
    src: url("https://cdn.jsdelivr.net/gh/fz6m/Private-web@1.0/font/zhanku/zhanku.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */  
    url("https://cdn.jsdelivr.net/gh/fz6m/Private-web@1.0/font/zhanku/zhanku.woff") format("woff"), /* chrome、firefox */
    url("https://cdn.jsdelivr.net/gh/fz6m/Private-web@1.0/font/zhanku/zhanku.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+ */
    url("https://cdn.jsdelivr.net/gh/fz6m/Private-web@1.0/font/zhanku/zhanku.svg#zhanku") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}

/* 标题变大 */
.post-title-plus {
	transition: all .35s ease;
    letter-spacing: .5px;
    text-shadow: 2px 2px 4px rgba(216,191,216,.5);
}


.post-title-plus:hover {
	letter-spacing: 1px;
}


/* 头像优化 */

.focusinfo .header-tou img {
	box-shadow: 0 0 15px rgb(255,192,203,1) !important;
	padding: 0px !important;
}

.focusinfo img {
	width: 120px !important;
    height: 120px !important;
}

.header-info p {
	margin-bottom: 8px !important;
    margin-top: -10px !important;
}

.top-social_v2 li {
    margin-right: 10px !important;
    margin-left: 10px;
}

.top-social_v2 img {
    height: 35px !important;
	width: 35px !important;
}


/* 文内标题居中 */

.single-center .entry-census {
	display: flex;
    justify-content: center;
    text-shadow: 0px 0px 10px #666666;
}

.single-center .single-header h1.entry-title {
	text-align: center;
	text-shadow: 0px 0px 10px #666666;
	margin: 0 auto !important;
}

/* 头像飞入 */
.header-tou{
    opacity: 0;
    animation: bounceInDown 2s;
    animation-fill-mode: both;
}

@keyframes bounceInDown {
    0% {
        opacity: 0;
        transform: translateY(-500px);
    }
    60% {
        opacity: 0.7;
        transform: translateY(30px);
    }
    80% {
        opacity: 0.8;
        transform: translateY(-10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* 社交栏飞入 */
.header-info{ 
	animation: bounceInLeft 2s;
	animation-fill-mode: both;
}
@media(max-width: 860px) {
	div#output-wrap {
    	margin-top: 1em;
	}
}

@keyframes bounceInLeft {
    0% {
        opacity: 0;
        transform: translateX(-2000px);
    }
    60% {
        opacity: 1;
        transform: translateX(30px);
    }
    80% {
        transform: translateX(-10px);
    }
    100% {
        transform: translateX(0);
    }
}

/*typing.js*/
@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

.typing-cursor, .typing-cursor-black, .typing-cursor-white {
  opacity: 1;
  font-weight: bold;
  -webkit-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}

.typing-cursor, .typing-cursor-black {
  color: #000;
}

.typing-cursor-white {
  color: #fff;
}

.output-imgbox {
	margin-top: -10px;
    margin-bottom: 10px;
    color: #000;
    font-weight: bold;
}

/*h3标题优化*/
.entry-content h3 {
	color: #404040 !important;
}

.entry-content h3:after {
    content: "\00a0" !important;
    transition: all .35s;
    content: ""!important;
    position: absolute;
    left: -1px;
    border-radius: 6px;
    box-shadow: 0 2px 12px rgb(255,109,109,.8);
    background: rgb(255,109,109,.8);
    height: 5px;
    margin-top: 32px;
    box-sizing: border-box;
    width: 1em;
}
.entry-content h3:hover:after {
    width: 2em;
}

/*h1标题优化*/
h1.entry-title {
    font-family: 'Merriweather Sans',Helvetica,Tahoma,Arial,'PingFang SC','Hiragino Sans GB','Microsoft Yahei','WenQuanYi Micro Hei',sans-serif;
    font-size: 40px !important;
}

p.entry-census {
    font-family: 'Merriweather Sans',Helvetica,Tahoma,Arial,'PingFang SC','Hiragino Sans GB','Microsoft Yahei','WenQuanYi Micro Hei',sans-serif;
    font-size: 15px !important;
    margin-bottom: 20px;
}
@media (max-width: 860px) {
	h1.entry-title {
		font-size: 30px !important;
	}
}